// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#services h4 {
  min-height: 2em;
}

#services .col-md-4{
  margin-bottom: 1.5em;
}

@media (max-width: 768px) {
  #services h4 {
    min-height: auto;
  }
}