// Styling for the team section
.team-member {
  margin-bottom: 3em;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

#team.page-section h2.section-heading{
  margin-bottom: 1.5em;
}

.section-team{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#team.section-team{
  padding-top: 100px;
}

@media (min-width: 768px) { 
  #about{
    background-image: linear-gradient(90deg, $gray-100 50%, transparent), url('../img/broadhurst_road.jpg');
    background-repeat: no-repeat;
    background-size: auto 102%;
    background-position-x: right;
  }
}
